body {
  display: flex;
  flex-wrap: wrap;
}
/*------HEADER-------*/
header {
  flex-grow: 1;
  flex-basis: 100%;
}

header h1 {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
/*--------MAINNN-----*/
main {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 40%;
  flex-grow: 1;
}
main > h2 {
  flex-basis: 100%;
}

main > ul {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
main li {
  flex-basis: 45%;
  flex-grow: 1;
}

/*-----------ASIDE-----------------*/
aside {
  flex-basis: 15%;
  flex-direction: row;
  flex-grow: 0;
}

aside > h2 {
  flex-basis: 100%;
}
/*--------------FOOTER----------------*/
footer {
  flex-basis: 100%;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
