/*----Modification du Header----*/
header ul{display: flex; justify-content: space-between}
header li{text-align: center;}
header h1{text-align: center;}
/*----Modification du main----*/
main>img{display:block; width: 70%; height: 30em; margin-left: auto; margin-right: auto;}
main nav{display: flex; flex-wrap: nowrap;}
main nav ul{display: flex; flex-wrap: nowrap; flex-basis: 100%}
main nav li img{display: block; width: 10em;}
main nav li{flex-basis: 100%; text-align: center; list-style: none;} 
main nav img{margin-left: auto; margin-right: auto;}
/*----Modification du Footer----*/
footer{display: flex;}
footer img{height: auto}
