/* Règles générales */

/*---------HEADER-------------*/
header {
  background-color: silver;
  margin: 1em;
  padding: 1em;
}
nav ul {
  padding-inline-start: 1em;
  padding-inline-end: 1em;
}
header li {
  list-style: none;
}

header li:hover {
  background-color: white;
}

h1,
h2,
h3,
h4 {
  color: blue;
}
/*------------MAIN---------*/
main {
  margin: 1em;
}
main > h2 {
  margin-left: 0.5em;
}

main > ul {
  padding: 0;
  margin: 0%;
}

main > ul > li {
  list-style: none;
}
section {
  background-color: rgb(173, 216, 230);
  margin: 1em;
  padding: 1em;
}

#crepe {
  width: 25em;
  margin: 0.5em;
}

/*---------ASIDE-----------*/
aside {
  margin: 1em 1.5em 1em 1em;
}

/*--------FOOTER---------*/
footer {
  background-color: silver;
  margin: 1rem;
}

footer img {
  width: 2em;
  height: 2em;
  margin: 0.5em;
}
